/* Page Container */
.page-container {
    background-color: var(--empty-color);
    padding: 0 !important;
    margin: 0 !important;
}

/* Heading */
#heading-banner {
    border-bottom: var(--border-width) solid var(--border-color);
    padding-top: var(--border-size) !important;
}

#heading-inner {
    background-color: var(--background-color);
    border-top: var(--border-width) solid var(--border-color);
    margin-bottom: var(--border-size);
    padding: 3rem !important;
}

/* Change Password Section */
#change-password {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 3rem;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    border-bottom: var(--border-width) solid var(--border-color);
    margin-bottom: var(--border-size) !important;
}

/* Form Section */
#change-password-form {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 3rem !important;
}

.users-form-content {
    background-color: var(--background-color);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
}

/* Common button and link styling ------------------------ */

/* Normal state for buttons */
.btn-primary {
    background-color: var(--icon-color) !important;
    border-color: var(--icon-color) !important;
    color: var(--background-color) !important;
    font-size: 1.25rem;
}

/* Normal state for links */
.btn-link {
    color: var(--icon-color) !important;
}

/* Hover and Active State for Buttons and Links */
.btn-link:hover,
.btn-link:active,
.btn-primary:hover,
.btn-primary:active {
    background-color: var(--icon-hover-color) !important;
    border-color: var(--icon-hover-color) !important;
    color: var(--text-hover-color) !important;
    text-decoration: none;
}

/* Focus State for Buttons and Links */
.btn-link:focus,
.btn-primary:focus {
    color: #FFF !important;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}