/* Heading */
#heading-banner {
    border-top: var(--border-width) solid var(--border-color); /* Black border at the top */
    border-bottom: var(--border-width) solid var(--border-color); /* Black border at the bottom */
    padding-top: var(--border-size) !important; /* Add margin to the bottom */
    
}

#heading-inner {
    background-color: var(--background-color); /* Light background color */
    border-top: var(--border-width) solid var(--border-color); /* Black border at the top */
    margin-bottom: var(--border-size); /* Add margin to the bottom */
    padding: 3rem !important;
}

/* Contact Us Section */
#contact-us {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 3rem;
    padding-top: 1rem !important; /* Override the default padding */
    padding-bottom: 1rem !important; /* Override the default padding */
    border-bottom: var(--border-width) solid var(--border-color); /* Black border at the bottom */
    margin-bottom: var(--border-size) !important; /* Add margin to the bottom */
}

#contact-form {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 3rem !important;
}