#heading {
    color: var(--text-color);
    font-size: 3rem;
    padding-top: 1rem !important; /* Override the default padding */
    padding-bottom: 1rem !important; /* Override the default padding */
    border-bottom: var(--border-width) solid var(--border-color); /* Black border at the bottom */
    margin-bottom: var(--border-size) !important; /* Add margin to the bottom */
}

#form-section {
    background-color: var(--background-color);
    color: var(--text-color);
    /* font-size: 3rem; */
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
    margin-bottom: var(--border-size) !important;
}

#form-content {
    background-color: var(--background-color);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
}

.page-container {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    border-bottom: var(--border-width) solid var(--border-color);
}

#table-content {
    padding-top: 1rem !important;
    padding-bottom: 2rem !important;
}