#heading {
    color: var(--text-color);
    font-size: 2rem;
    padding-top: 0.5rem !important; /* Override the default padding */
    padding-bottom: 0.5rem !important; /* Override the default padding */
    /* border-bottom: var(--border-width) solid var(--border-color); */
    /* margin-bottom: var(--border-size) !important; */
}

#form-section {
    color: var(--text-color);
    /* font-size: 3rem; */
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    /* margin-bottom: var(--border-size) !important; */
}

#form-content {
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid #ddd;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
}

.page-container {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    /* border-bottom: var(--border-width) solid var(--border-color); */
}

#table-content {
    padding-top: 1rem !important;
    padding-bottom: 2rem !important;
}

#requirements-content {
    /* padding-top: 0.5rem !important; */
    padding-bottom: 0.5rem !important;
}

#requirements-content ul {
    padding-left: 1.5rem;
    margin-left: 0;
}

#requirements-content ul li {
    color: var(--text-color);
    font-family: var(--main-font);
    list-style-type: disc;
    padding-left: 0;
    margin-left: 0;
}