/* Set fonts */
body {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700; /* Bold weight */
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400; /* Regular weight */
}

#landing-page {
    @media (min-width: 768px) {
        background: radial-gradient(circle at 130% 30%, rgba(255, 234, 166, 0.5), transparent 50%);
    }
    font-family: 'Poppins', sans-serif;
}

/* Hero Section */
/* #hero-container {
    background: linear-gradient(to bottom, #f8f9fa, #ffffff);
} */

#hero {
    margin-top: 3rem;
}

#hero h1 {
    font-size: 2.5rem;
    color: var(--heading-text-col);
    margin-bottom: 1rem;
}

#hero p {
    font-size: 1.25rem;
    color: var(--text-col);
}

/* Buttons */
#hero .btn-outline-primary,
#contact .btn-outline-primary,
.btn-outline-primary {
    background-color: #FFF;
    border: 2px solid #f8e7d1;
    color: #000;
    padding: 0.75rem 2rem;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 50px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#hero .btn-outline-primary:hover,
#contact .btn-outline-primary:hover,
.btn-outline-primary:hover {
    background-color: #f8e7d1;
    border: 2px solid #f8e7d1;
    color: #000;
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

#hero .hero-image {
    margin-top: 2rem;
}

#hero .hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
}

#products h2 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--heading-text-col);
    margin-bottom: 2rem;
}

/* .product-tabs {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    background-color: #fdecec;
    padding: 1rem 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} */

.tab-item {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.tab-item.active {
    background-color: #ff7975;
    color: #fff;
}

.tab-item:hover {
    background-color: #ff7975;
    color: #fff;
}

.product-description {
    margin-top: 3rem;
    text-align: center;
}

.product-description h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    color: var(--heading-text-col);
    margin-bottom: 1rem;
}

.product-description p {
    font-size: 1rem;
    color: var(--text-col);
}

.product-description li {
    list-style-type: none;
    color: var(--fade-col);
}

/* CSS for Rounded Image */
#classic-image img,
#modern-image img,
#signature-image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

/* Hover Effect */
#classic-image img:hover,
#modern-image img:hover,
#signature-image img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* Our mission section */
#products-container,
#mission-container {
    background-color: #ffd3d3; /* Light pink background */
    border-radius: 50px; /* Rounded corners */
    padding: 3rem; /* Add padding inside the container */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    max-width: 800px;
    margin: 0 auto; /* Center the container horizontally */
}

#our-mission h2 {
    font-size: 2rem; /* Match the font size of product-description h3 */
    color: var(--heading-text-col); /* Use the same heading text color */
    margin-bottom: 1rem;
}

#mission-text {
    margin-top: 2rem;
}

#our-mission p {
    font-size: 1rem;
    color: var(--text-col);
    line-height: 1.6;
    text-align: center;
    margin-bottom: 1rem;
    font-style: italic;
}

#mission-image {
    margin-top: 2rem;
}

#mission-image img {
    max-width: 100%;
    height: 200px; /* Set a fixed height */
    object-fit: cover; /* Ensures the image is cropped, not scaled */
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* Contact Us Section */
#contact {
    color: var(--text-col);
}