#heading {
    color: var(--text-color);
    font-size: 3rem;
    padding-top: 1rem !important; /* Override the default padding */
    padding-bottom: 1rem !important; /* Override the default padding */
    text-align: center;
}

#shop-container {
    color: var(--text-color);
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

#shop-box {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #ddd;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: linear-gradient(145deg, #ffffff, #f0f0f0); /* Soft gradient background */
}