
/* Common page styling ------------------------ */

/* Apply custom gutter spacing to all container-fluid elements */
.container-fluid {
    --bs-gutter-x: 0; /* Set horizontal gutters to 0 */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}



/* Accessibility Toggle Container */
.accessibility-toggle {
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 1000;
    text-align: center;
}

/* Accessibility Button */
#accessibility-button {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Accessibility Options (Hidden by Default) */
.accessibility-options {
    display: none;
    margin-top: 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 200px;
}

/* Show Accessibility Options */
.accessibility-toggle.open .accessibility-options {
    display: block;
}

/* Common button and link styling ------------------------ */
/* Normal state for buttons */
.btn-primary {
    background-color: var(--icon-color) !important;
    border-color: var(--icon-color) !important;
    color: var(--background-color) !important;
    font-size: 1.25rem;
}
/* Normal state for links */
.btn-link {
    color: var(--icon-color) !important;
}
 
/* Hover and Active State for Buttons and links */
.btn-link:hover,
.btn-link:active,
.btn-primary:hover,
.btn-primary:active {
    background-color: var(--icon-hover-color) !important;
    border-color: var(--icon-hover-color) !important;
    color: var(--text-hover-color) !important;
    text-decoration: none; /* Prevent underline */
}

/* Focus State for Buttons and links*/
.btn-link:focus,
.btn-primary:focus {
    color: #FFF !important; /* White text color on focus */;
    box-shadow: 0 0.5rem 0.5rem  rgba(0, 0, 0, 0.2) !important; /* Add focus shadow */
}